:root {
  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --lheight: 1.5;
  --fontw-4: 400;
  --fontw-5: 500;

  --low: 10px;
  --med: 20px;
  --high: 30px;

  --borr-inner: 10px;
  --pad-outer: var(--borr-inner);
  --borr-outer: calc(var(--borr-inner) + var(--pad-outer));
  --card-w: 200px;

  --clr-scheme: light dark;
  --primary: #d66f00;
  --primary-dark: #814200;
  --secondary: #242424;

  font-synthesis: none;
  --text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --trans: all 150ms ease-in-out;
}

nav {
  position: fixed;
  top: 0;
  left: 0;

  background: var(--secondary);
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  z-index: 5;

  user-select: none;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  width: 60px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin: 10px;

  cursor: pointer;
}

a {
  position: relative;
  color: var(--primary);
  text-decoration: none;
  padding: 15px;
}

a::before {
  content: "";
  position: absolute;
  background: var(--primary);
  height: 5px;
  width: 0;
  left: 0;
  bottom: 0;

  transition: all 150ms ease-in-out;
}

a:hover::before {
  width: 100%;
}

.signup-btn {
  background: var(--primary);
  color: var(--secondary);
}

.signup-btn::before {
  display: none;
}

.signup-btn:hover {
  color: var(--primary);
  background: #753c00;
}

.login-btn::before {
  display: none;
}

.login-btn:hover {
  background: #161616;
}

@media screen and (max-width: 450px) {
  nav .links {
    display: none;
  }
}
