:root {
  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --lheight: 1.5;
  --fontw-4: 400;
  --fontw-5: 500;
  --pad: 15px;

  --clr-scheme: light dark;
  --primary: #d66f00;
  --secondary: #242424;

  font-synthesis: none;
  --text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-block: var(--pad);

  background: var(--secondary);
  color: var(--primary);

  & .social {
    display: flex;
    gap: var(--pad);
  }

  & a {
    & img {
      width: 50px;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}
