:root {
  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --lheight: 1.5;
  --fontw-4: 400;
  --fontw-5: 500;

  --clr-scheme: light dark;
  --primary: #d66f00;
  --secondary: #242424;
}

.next-page {
  color: var(--secondary);
  outline: 2px solid var(--secondary);

  padding: var(--pad);
  text-decoration: none;

  border-radius: var(--pad);

  transition: all 150ms ease-in-out;

  filter: drop-shadow(0 0 10px);
}

.next-page:hover {
  background: var(--primary);
  color: var(--secondary);
  outline: 5px solid var(--secondary);
}

.next-page::before {
  display: none;
}

.center {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

body {
  font-family: var(--font) !important;
  background: var(--primary) !important;
  margin: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-width: 320px !important;
  min-height: 100vh !important;
}

h1 {
  font-size: 3.2em !important;
  line-height: 1.1 !important;
}

/* Nav */

nav {
  position: fixed;
  top: 0;
  left: 0;

  background: var(--secondary);
  width: 100%;
  padding-block: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  position: relative;
  color: var(--primary);
  text-decoration: none;
  padding: 15px;
}

a::before {
  content: "";
  position: absolute;
  background: var(--primary);
  height: 5px;
  width: 0;
  left: 0;
  bottom: 0;

  transition: all 150ms ease-in-out;
}

a:hover::before {
  width: 100%;
}

.signup-btn {
  background: var(--primary);
  color: var(--secondary);
}

.signup-btn::before {
  display: none;
}

.signup-btn:hover {
  color: var(--primary);
  background: #753c00;
}

.login-btn::before {
  display: none;
}

.login-btn:hover {
  background: #161616;
}
