:root {
  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --lheight: 1.5;
  --fontw-4: 400;
  --fontw-5: 500;
  --pad: 15px;

  --clr-scheme: light dark;
  --primary: #d66f00;
  --secondary: #242424;

  font-synthesis: none;
  --text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #814200;
  padding: 40px;
}

input {
  font-size: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
