:root {
  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --lheight: 1.5;
  --fontw-4: 400;
  --fontw-5: 500;
  --pad: 15px;

  --clr-scheme: light dark;
  --primary: #d66f00;
  --secondary: #242424;

  font-synthesis: none;
  --text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #814200;
  padding: 40px;
  border-radius: var(--borr-outer);
}

input {
  font-size: 20px;
}

input:focus {
  outline: none;
}

label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  color: #fff;
}

.form-eye {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.signin-switch {
  color: #fff;
}
